In [ ]:
# importing the required libraries
import pandas as pd
import re

In [ ]:
# reading CSV
df = pd.read_csv('sample_addresses.csv', header = None)
# Printing the dataframe
df.drop(columns=[1], inplace =True)

In [ ]:
# changing data to lowercase
df = df.apply(lambda x: x.astype(str).str.lower())
df = df.drop([5,15,18])
# df

In [ ]:
full_address_list = []
street_number_name_list = []
post_code_list = []
state_list = []
suburb_list = []

for index, row in df.iterrows():
  full_address= row[0]
  print(full_address)

  # Fetching the street address from the full address
  # full_address = "11 - 19 belair close park ridge south qld 4125"
  street_number_name = re.compile("\d{1,4} [\w\s\-\/]{1,20}(?:street|st|avenue|ave|road|rd|way|highway|hwy|square|sq|trail|trl|drive|dr|court|ct|parkway|pkwy|circle|cir|boulevard|blvd|close)\W?(?=\s|$)")
  street_number_name_string = street_number_name.search(full_address).group(0)

  # Extracting remaining address
  all_except_street_number_name_string = street_number_name.split(full_address)[1]

  # Extracting Post Code
  post_code = re.compile(r"\D+")
  post_code = post_code.split(all_except_street_number_name_string)[1]

  #Extracting the state and suburb string
  suburb_state = all_except_street_number_name_string.split(post_code)[0]

  #Extracting State acronym
  state = re.compile("(vic|qld|act|wa|sa|nsw|tas)")
  state = state.search(suburb_state).group(0)

  #Extracting Suburb
  suburb = suburb_state.split(state)[0]

  full_address_list.append(full_address)
  street_number_name_list.append(street_number_name_string)
  post_code_list.append(post_code)
  state_list.append(state)
  suburb_list.append(suburb)

11 - 19 belair close park ridge south qld 4125
10 patamba street kooringal nsw 2650
28 / 14 - 18 peggy street mays hill nsw 2145
1 - 9 midden court ningi qld 4511
22 breakers way korora nsw 2450
2 / 85 abuklea road marsfield nsw 2122
1 middlemiss street everton park qld 4053
33 / 14 - 18 ethel avenue brookvale nsw 2100
1 septimus street erskineville nsw 2043
44 castle avenue goolwa beach sa 5214
1 septimus street chatswood nsw 3067
9 middlemiss street lavender bay nsw 2060
77 arlington street rockdale nsw 2216
7 benelong road cremorne nsw 2090
11 third avenue lane cove nsw 2066
88 camden boulevard aubin grove wa 6164
1 darling avenue camberwell vic 3124
1 / 56 blues point road mcmahons point nsw 2060
1 septimus avenue punchbowl nsw 2196
25 illich street kurrimine beach qld 4871
1 third avenue lane cove nsw 2066
1 camden street newtown nsw 2042

In [ ]:
df1 = pd.DataFrame({"Street":street_number_name_list,
                    "Suburb":suburb_list,
                    "State":state_list, 
                    "Postcode":post_code_list
                    })  
#showing data using dataframe              

df1

                       Street              Suburb State Postcode
0        11 - 19 belair close   park ridge south    qld     4125
1           10 patamba street          kooringal    nsw     2650
2   28 / 14 - 18 peggy street          mays hill    nsw     2145
3          1 - 9 midden court              ningi    qld     4511
4             22 breakers way             korora    nsw     2450
5         2 / 85 abuklea road          marsfield    nsw     2122
6         1 middlemiss street       everton park    qld     4053
7   33 / 14 - 18 ethel avenue          brookvale    nsw     2100
8           1 septimus street       erskineville    nsw     2043
9            44 castle avenue                gool    wa     5214
10          1 septimus street          chatswood    nsw     3067
11        9 middlemiss street       lavender bay    nsw     2060
12        77 arlington street           rockdale    nsw     2216
13            7 benelong road           cremorne    nsw     2090
14            11 third avenue          lane cove    nsw     2066
15        88 camden boulevard        aubin grove     wa     6164
16           1 darling avenue         camberwell    vic     3124
17    1 / 56 blues point road     mcmahons point    nsw     2060
18          1 septimus avenue          punchbowl    nsw     2196
19           25 illich street    kurrimine beach    qld     4871
20             1 third avenue          lane cove    nsw     2066
21            1 camden street            newtown    nsw     2042

In [ ]:
# saving the data to csv file after split
df1.to_csv('addresses.csv', index= False)